.movie-list {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    width: calc(100% +  .7vw);
    margin-left: -.7vw;
}

.movie-list > .movie-list__item.offline {
	opacity: 0.3;
}
.movie-list > .movie-list__item.offline:hover {
	opacity: 1;
}
.movie-list > .movie-list__item {
  width: calc(100%/6);
  padding-top: .7vw;
  padding-left: .7vw;
  box-sizing: border-box;
  overflow: hidden;
}
.movie-list > .movie-list__item .movie-list__item__inner {
	padding-top: 150%;
	background-size: cover;
	background-repeat: no-repeat;
}

.movie-list__item__details {
	position: absolute;
	z-index: 2;
	bottom: 0;
	width: 100%;
}
.movie-list__item .movie-list__item__collapsable {
	overflow: hidden;
	height: 0;
}
.movie-list__item:hover .movie-list__item__collapsable {
	height: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 350px) {
	.movie-list > .movie-list__item {
		width: 100%
	}
  }
@media only screen and (min-width: 350px) {
	.movie-list > .movie-list__item {
		width: calc(100%/2);
	}
}
@media only screen and (min-width: 510px) {
	.movie-list > .movie-list__item {
		width: calc(100%/3);
	}
}
@media only screen and (min-width: 670px) {
	.movie-list > .movie-list__item {
		width: calc(100%/4);
	}
}
@media only screen and (min-width: 830px) {
	.movie-list > .movie-list__item {
		width: calc(100%/5);
	}
}
@media only screen and (min-width: 1000px) {
	.movie-list > .movie-list__item {
		width: calc(100%/6);
	}
}
@media only screen and (min-width: 1200px) {
	.movie-list > .movie-list__item {
		width: calc(100%/7);
	}
}
@media only screen and (min-width: 1350px) {
	.movie-list > .movie-list__item {
		width: calc(100%/8);
	}
}

@media only screen and (min-width: 1500px) {
	.movie-list > .movie-list__item {
		width: calc(100%/9);
	}
}

@media only screen and (min-width: 1700px) {
	.movie-list > .movie-list__item {
		width: calc(100%/10);
	}
}

@media only screen and (min-width: 1900px) {
	.movie-list > .movie-list__item {
		width: calc(100%/11);
	}
}
